{% extends "layout.html.j2" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<h3>Profile</h3>

<br> <br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Detail</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <!-- Profile Image -->
        <tr>
            <td>Photograph</td>
            <td>
                <img src="/static/profile_images/{{ session.user_id }}.jpg" alt="Image not found or uploaded" height="200">
            </td>
        </tr>
        <!-- Email -->
        <tr>
            <td>Email</td>
            <td>
                {{ session.email }}
                {% if session.verified %}
                (Verified)
                {% else %}
                <a href="/verify">{Verify}</a>
                {% endif %}
            </td>
        </tr>
        <!-- Contact -->
        <tr>
            <td>Contact</td>
            <td>{{ session.contact }}</td>
        </tr>
        <!-- First Name -->
        <tr>
            <td>First Name</td>
            <td>{{ session.first_name }}</td>
        </tr>
        <!-- Middle Name -->
        <tr>
            <td>Middle Name</td>
            <td>{{ session.middle_name }}</td>
        </tr>
        <!-- Last Name -->
        <tr>
            <td>Last Name</td>
            <td>{{ session.last_name }}</td>
        </tr>
        <!-- Gender -->
        <tr>
            <td>Gender</td>
            <td>
                {% if session.gender == 'M' %}
                Male
                {% else %}
                Female
                {% endif %}
            </td>
        </tr>
        <!-- Date of Birth -->
        <tr>
            <td>Date of Birth</td>
            <td>{{ session.dob }}</td>
        </tr>
        <!-- Role -->
        <tr>
            <td>Role</td>
            <td>{{ session.role }}</td>
        </tr>
        <!-- Registered -->
        <tr>
            <td>Registered On</td>
            <td>{{ session.registered }}</td>
        </tr>
        <!-- Approval -->
        <tr>
            <td>Approval</td>
            <td>
                {% if session.approved %}
                Approved
                {% else %}
                Pending Approval
                {% endif %}
            </td>
        </tr>
        <!-- Address -->
        <tr>
            <td>Address</td>
            <td>
                {{ session.line_1 }},
                <br>
                {{ session.line_2 }}
            </td>
        </tr>
        <!-- Landmark -->
        <tr>
            <td>Landmark</td>
            <td>{{ session.landmark }}</td>
        </tr>
        <!-- City -->
        <tr>
            <td>City</td>
            <td>{{ session.city }}</td>
        </tr>
        <!-- District -->
        <tr>
            <td>District</td>
            <td>{{ session.district }}</td>
        </tr>
        <!-- State -->
        <tr>
            <td>State</td>
            <td>{{ session.state }}</td>
        </tr>
        <!-- PIN Code -->
        <tr>
            <td>PIN Code</td>
            <td>{{ session.pin }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
