{% extends "layout.html" %}

{% block title %}
    Questions Bank
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Question</th>
            <th>Button</th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
        <tr>
            <td>{{ question.question }}</td>
            <td><a href="/update?id={{ question.id }}" class="btn btn-primary">Edit</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
