{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<!-- Registration Form -->
<h1>Registration Form</h1>
<br>

<form action="/register" method="post" enctype="multipart/form-data">
    <!-- User Details -->
    <h3>User Details</h3>
    <br>

    <!-- Email -->
    <div class="form-group">
        <label class="form-label" for="email">Email Address : </label>
        <input class="form-control" name="email" placeholder="Email Address" type="email" required autofocus>
    </div>

    <!-- Contact -->
    <div class="form-group">
        <label class="form-label" for="contact">Contact : </label>
        <input class="form-control" name="contact" placeholder="Contact" type="tel" required>
    </div>

    <!-- First Name -->
    <div class="form-group">
        <label class="form-label" for="first_name">First Name : </label>
        <input autocomplete="off" class="form-control" name="first_name" placeholder="First Name" type="text" required>
    </div>

    <!-- Middle Name -->
    <div class="form-group">
        <label class="form-label" for="middle_name">Middle Name : </label>
        <input autocomplete="off" class="form-control" name="middle_name" placeholder="MIddle Name" type="text" required>
    </div>

    <!-- Last Name -->
    <div class="form-group">
        <label class="form-label" for="last_name">Last Name : </label>
        <input autocomplete="off" class="form-control" name="last_name" placeholder="Last Name" type="text" required>
    </div>

    <!-- Gender -->
    <div class="form-group">
        <label class="form-label" for="gender">Gender : </label>
        <select name="gender" required>
            <option disabled selected value="">Gender</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>

    <!-- DOB -->
    <div class="form-group">
        <label class="form-label" for="dob">Date of Birth : </label>
        <input type="date" name="dob" required>
    </div>

    <!-- Photograph -->
    <div class="form-group">
        <label class="form-label" for="photo">Photograph : </label>
        <input type="file" name="photo" accept=".jpg, .jpeg" required>
        <br>
        (Allowed File Formats : JPG & JPEG)
    </div>

    <!-- Password -->
    <div class="form-group">
        <label class="form-label" for="password">Enter Password : </label>
        <input class="form-control" name="password" placeholder="Enter Password" type="password" required>
    </div>

    <!-- Confirmation -->
    <div class="form-group">
        <label class="form-label" for="confirmation">Confirm Password : </label>
        <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password" required>
    </div>

    <!-- Role -->
    <div class="form-group">
        <label class="form-label" for="role">User Role : </label>
        <select name="role" required>
            <option disabled selected value="">User Role</option>
            {% for role in roles %}
                <option value="{{ role }}">{{ role }}</option>
            {% endfor %}
        </select>
    </div>

    <br> <br>

    <!-- Address Details -->
    <h3>Address Details</h3>
    <br>

    <!-- Line 1 -->
    <div class="form-group">
        <label class="form-label" for="line_1">Line 1 : </label>
        <input class="form-control" name="line_1" placeholder="Line 1" type="text" required autofocus>
    </div>

    <!-- Line 2 -->
    <div class="form-group">
        <label class="form-label" for="line_2">Line 2 : </label>
        <input class="form-control" name="line_2" placeholder="Line 2" type="text">
    </div>

    <!-- Landmark -->
    <div class="form-group">
        <label class="form-label" for="landmark">Landmark : </label>
        <input class="form-control" name="landmark" placeholder="Landmark" type="text">
    </div>

    <!-- City -->
    <div class="form-group">
        <label class="form-label" for="city">City : </label>
        <input class="form-control" name="city" placeholder="City" type="text" required>
    </div>

    <!-- District -->
    <div class="form-group">
        <label class="form-label" for="district">District : </label>
        <input class="form-control" name="district" placeholder="District" type="text" required>
    </div>

    <!-- State -->
    <div class="form-group">
        <label class="form-label" for="state">State : </label>
        <input class="form-control" name="state" placeholder="State" type="text" required>
    </div>

    <!-- PIN Code -->
    <div class="form-group">
        <label class="form-label" for="pin">PIN Code : </label>
        <input class="form-control" name="pin" placeholder="PIN Code" type="text" required>
    </div>

    <br>

    <!-- Submit Button -->
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
